/* Add CSS Styling */
.first-button {
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
}
.second-button {
    background-color: #FFDE21;
}

.first-button,
.second-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}