body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 4px;
  margin: 8px auto;
  padding: 12px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  padding: 8px 24px;
  display: block;
  margin: auto;
}